/*reset*/
@charset "utf-8";body,h1,h2,h3,h4,p,dl,dd,ol,ul,th,td,form,fieldset,input,button,span,textarea{margin:0;padding:0}h1,h2,h3{font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0;empty-cells:show;font-size:inherit}fieldset,img{border:0}em,s,i,b{font-style:normal}input,button,textarea,select{font-size:100%}body,input,button,textarea,select,option{font:14px/1.5 'Microsoft Yahei', '\5FAE\8F6F\96C5\9ED1', Arial, 'Hiragino Sans GB', '\5B8B\4F53'}a,input,select,textarea{text-decoration:none;outline:0}.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}.fl{float:left}.fr{float:right}a,img{-webkit-touch-callout:none}html,body{-webkit-user-select:none;user-select:none;width:100%}html{-webkit-text-size-adjust:none;word-wrap:break-word;font-size:20px}body{-webkit-tap-highlight-color:rgba(255, 0, 0, 0);-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;}
body{
	background: #f2eee7;
	font-family: "黑体";
}
@font-face {
	font-family: cartoon;
    src: url('../fonts/cartoon.TTF?ixsnn2') format('truetype'),
         url('../fonts/cartoon.otf');
}
/*layout*/
.pages{
	-webkit-transform: translate3d(0, 0, 0);
}
.page1 .logo{position: absolute;width:16%;top:6.8%;left:12.5%;}
/*微信分享*/
#weixin-tip{display:none; position: fixed; right:0; top:0; background: rgba(0,0,0,0.7); filter:alpha(opacity=70); width: 100%; z-index: 100;text-align: right; }
#weixin-tip img{display: block;width: 100%;}
#weixin-tip p{text-align: center; margin-top: 10%; padding:0 5%; position: relative;}
#weixin-tip .close{
	color: #fff;
	padding: 5px;
	font: bold 20px/20px simsun;
	text-shadow: 0 1px 0 #ddd;
	position: absolute;
	top: 0; left: 5%;
}
input[type="button"], input[type="submit"], input[type="reset"] ,input[type="text"],input[type="password"]{
	-webkit-appearance: none;
}
/*加载样式*/

/*内容样式*/
.page{
	margin:auto;
	position: relative;
	overflow: hidden;
	background: #f2eee7;
}
.bg{
	width: 100%;
	height:100%;
}
/*BP*/
.page{
	background: #ededed;
}
.header{
	background-color: #2A6EBB;
	padding: 4% 3%;
}
.back{
	width: 6%;
	float: left;
}
.header h4{
	color: #fff;
	font-size: 0.7rem;
	font-family: "黑体";
	width: 100%;
	text-align: center;
}
.search{
	width: 7%;
	float: right;
}
.content{
	padding: 3% 4%;
	font-family: "黑体";
}
.content span b{
	font-weight: normal;
	font-family: "微软雅黑";
}
.content a{
	width: 92%;
	background-color: #fff;
	display: inline-block;
	border-radius: 0.2rem;
	padding: 4% 4%;
	font-size: 0.7rem;
	margin-bottom: 0.1rem;
}
.content span:nth-child(1){
	color: #BFBFBF;
	width: 93%;
	display: inline-block;
}
.content span:nth-child(2){
	width: 0.4rem;
	height: 0.4rem;
	border-top: 0.1rem solid #acadae;
	border-right: 0.1rem solid #acadae;
	display: inline-block;
	transform: rotate(45deg);
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #2A6EBB;
	padding: 5% 0;
	z-index: 12;
}
.footer a:nth-child(1){
	color: #fff;
	font-family: "黑体";
	font-size: 0.7rem;
	margin-left: 3%;
}
.footer span{
	width: 0.05rem;
	height: 1.2rem;
	background-color: #FFFFFF;
	display: inline-block;
	margin: 0 4% -2% 4%;
}
.footer a:nth-child(3){
	color: #fff839;
	font-family: "黑体";
	font-size: 0.7rem;
}

.pop,.pop-comfirm{
	width:100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	display: block;
	z-index: 11;
}
.cover{
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.6;
	position: fixed;
	left: 0;
	top:0;
	z-index: 8;
}
.pop-in{
	width: 100%;
	height:100%;
	z-index: 8;
	position: fixed;
	left: 0%;
	/*top: 4%;*/
	border-radius: 0.3rem;
}
.close{
	width: 10%;
	position: absolute;
	top: -2%;
	right: -3%;
}
.pop p{
	position: fixed;
	color: #fff;
	z-index: 8;
	bottom: 0%;
	width: 100%;
	text-align: center;
}
.guide1{
	display: block;
}
.guide2,.guide3,.guide4,.guide5,.guide6,.guide7,.pop-search{
	display: none;
}
.guide1 img:nth-child(1){
	width: 100%;
	left: 0%;
	position: absolute;
	height: 100%;
	top: -6.5%;
}
.guide1 img:nth-child(2){
	width: 96%;
	left: 4%;
	position: absolute;
	top: -3%;
}

.guide2 img{
	width: 100%;
	left: 0%;
	position: absolute;
	top: 0%;
	height:100%;
}
.guide3 img:nth-child(1){
	width: 100%;
	left: 0%;
	position: absolute;
	height: 100%;
	top: -2%;
}
.guide3 img:nth-child(2){
	width: 90%;
	left: 5%;
	position: absolute;
	bottom: 16%;
}
.guide4 img:nth-child(1){
	width: 100%;
	left: 0%;
	position: absolute;
	height: 100%;
	top: -2.5%;
}
.guide4 img:nth-child(2){
	width: 88%;
	left: 6%;
	position: absolute;
	top: 19%;
}
.guide5 img:nth-child(1){
	width: 100%;
	left: 0%;
	position: absolute;
	bottom: 0%;
	height:100%;
}
.guide5 img:nth-child(2){
	width: 88%;
	left: 6%;
	position: absolute;
	bottom: 12%;
}
.guide6 img:nth-child(1){
	width: 100%;
	left: 0%;
	position: absolute;
	height: 100%;
	top: -0.5%;
}
.guide6 img:nth-child(2){
	width: 88%;
	left: 6%;
	position: absolute;
	top: 11%;
}
.pop-search{
	width: 78%;
	color: #222222;
	background-color: #fff;
	border: 4px solid #398942;
	left: 7%;
	top: 33%;
	position: fixed;
	padding: 5% 3%;
	font-size: 0.7rem;
	border-radius: 0.5rem;
}
.page2{
}
.cata-list ul li ul{
	display: none;
}
.catalog{
	width: 72%;
	height: 91%;
	background-color: white;
	z-index: 10;
	position: fixed;
	top: 0%;
	left:-72%;
	overflow-y: scroll;
	​-webkit-overflow-scrolling: touch;
}
.catalog h3{
	padding: 4% 0 4% 14%;
	font-size: 0.8rem;
	font-weight: normal;
	color: #2a6ebb;
	border-bottom: 0.1rem solid;
}
.cata-list h3 span{
	width: 0.4rem;
	height: 0.4rem;
	border-top: 0.08rem solid #acadae;
	border-right: 0.08rem solid #acadae;
	display: inline-block;
	transform: rotate(45deg);
	float: right;
	margin-top: 4%;
}
.cata-list h3{
	font-size: 0.75rem;
	font-family: "黑体";
	color: #5f5f5f;
	border-bottom: 0.05rem solid #e3e4e4;
	padding: 4% 7%;
	margin: -1px 0;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}
.cata-list div a{
	display: block;
	height: 1.5rem;
	line-height: 1.5rem;
	padding-left: 4%;
	color: #777777;
	background: #fff;
	text-decoration: none;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	margin: -1px 0 -1px 6%;
}
.cata-list div a.active{
	color: #2a6ebb;
}
.cata-list div a.active span{
	width: 0.1rem;
	height: 0.5rem;
	background-color: #2a6ebb;
	display: inline-block;
	margin-right: 3%;
}
.catalog .cata-list .current span{
	transform: rotate(135deg);
}
.p2-pop{
	width: 28%;
	height: 91%;
	z-index: 10;
	position: fixed;
	top: 0%;
	right: -28%;
}
.catalog-img{
	position: fixed;
	width: 14%;
	right: 5%;
	bottom: 16%;
}
.p2-content a img{
	width: 100%;
	display: block;
}
.p2-content{
	overflow-y: scroll;
	height: 83%;
	-webkit-overflow-scrolling: touch;
}